<div class="container search_wrapper py-4">
    <h1>Searched Products</h1>
    <div class="product_cover flex items-top border-b border-slate-200 w-3/5 mb-2 py-2"
        *ngFor="let items of fetchedResult">
        <div class="img_section border">
            <a routerLink="/product-details/{{items.id}}"><img src="{{items.image}}" alt=""></a>
        </div>
        <div class="details_cover flex flex-column justify-between">
            <div class="img_detail_section ml-10">
                <div class="prod_Name text-3xl mb-3 cursor-pointer" routerLink="/product-details/{{items.id}}">{{items.name | titlecase}}</div>
                <div class="prod_Category">{{items.category}}</div>
                <div class="prod_Color">{{items.color}}</div>
                <div class="prod_Price">{{items.price}}</div>
            </div>
            <button type="submit" class=" ml-10 bg-yellow-600 text-yellow-200 w-28 min-w-fit py-1 rounded" routerLink="/product-details/{{items.id}}">More Details &nbsp;<fa-icon [icon]="infoIcon"></fa-icon> </button>
        </div>

    </div>

</div>